

<div class="page">

  <!-- Header -->
  <div class="header">
    <button [routerLink]="['/task-list', taskListId]"  class="back-btn">←</button>
    <h1>Create Task</h1>
  </div>

  <!-- Form -->
  <div class="form">

    <div class="field">
      <label>Title</label>
      <input #title [value]="task.title" type="text" placeholder="Enter task title" />
    </div>

    <div class="field">
      <label>Description</label>
      <textarea #description [value]="task.description" placeholder="Enter task description (optional)"></textarea>
    </div>

    <div class="field">
      <label>Due date (optional)</label>
      <input #dueDate [value]="task.dueDate" type="date" />
    </div>

    <!-- Priority -->
    <div class="priority">
      <button
        class="priority-btn high"
        [class.active]="task.priority === 'HIGH'"
        (click)="setPriority('HIGH')">
        HIGH Priority
      </button>

      <button
        class="priority-btn medium"
        [class.active]="task.priority === 'MEDIUM'"
        (click)="setPriority('MEDIUM')">
        MEDIUM Priority
      </button>

      <button
        class="priority-btn low"
        [class.active]="task.priority === 'LOW'"
        (click)="setPriority('LOW')">
        LOW Priority
      </button>
    </div>

    <!-- Submit -->
    <button (click)="editTask(title.value,description.value,dueDate.value)" class="create-btn">Create Task</button>

  </div>

</div>


